@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500&family=Outfit:wght@400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  
  --color-brand-neon: #00ff66;
  --color-brand-dark: #0a0a0b;
  --color-brand-surface: #151518;
  --color-brand-border: #26262b;
  
  --breakpoint-xs: 400px;
}

@layer base {
  body {
    @apply bg-brand-dark text-slate-200 font-sans selection:bg-brand-neon selection:text-brand-dark;
  }
}

.glass-card {
  @apply bg-brand-surface border border-brand-border shadow-2xl;
}

.neon-glow {
  box-shadow: 0 0 15px rgba(0, 255, 102, 0.2);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-brand-border rounded-full;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-700;
}

